.setlist {
    /*align-items: center;
    background-color: $charcoal;
    border: 1px solid $tuxedo;
    box-shadow: 4px 4px 0px $black;
    border-radius: 22px;
    display: flex;
    margin: auto;
    max-width: 1024px;
    width: 100%;*/

    background-color: $charcoal;
}

.episode {
    list-style: none;
}