@font-face {
    font-family: "iA Writer Duospace";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/iAWriterDuospace-Regular.eot") format("embedded-opentype"),
         url("../fonts/iAWriterDuospace-Regular.woff2") format("woff2"),
         url("../fonts/iAWriterDuospace-Regular.woff") format("woff");
}
