@font-face {
    font-family: 'sohneschmal-fett';
    src: url('../fonts/sohneschmal-fett-webfont.woff2') format('woff2'),
         url('../fonts/sohneschmal-fett-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// font-family: 'sohneschmal-fett';